<section class="hero-section">
    <div class="container">
        <h1 class="visually-hidden">Money Minter</h1>
         <picture>
            <source srcset="
            /img/hero/desk-img.png 1x,
            /img/hero/desk-img@2x.png 2x
            " media="(min-width: 1439px)" />
            <source srcset="
            /img/hero/mob-img.png 1x,
            /img/hero/mob-img@2x.png 2x
            " media="(max-width: 1438px)" />
            <img class="hero-img" src="/img/hero/mob-img.png" alt="Money Minter" loading="lazy" />
        </picture>
        <div class="hero-wrapper">
        <p class="hero-text">Look, I'll be straight with you - I used to be one of those idiots just mashing the spin button like it was going out of
        style. Spoiler alert: didn't work. Gotta have some discipline, you know? Stick with your strategy and you'll start
        seeing some real results.</p>
        <a class="hero-button" href="#demo">
            <p class="hero-btn-text">Enter the System</p>
        </a>
    </div>
    </div>
</section>