body{
  font-family: "Hanken Grotesk", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #010f00;
    background-color: #fff;
}
h2{
  font-family: "Alegreya", sans-serif;
    font-weight: 500;
    font-size: 24px;
    background: linear-gradient(270deg, #5a2c0a 0%, #edc903 25%, #e2cf67 50%, #edc903 75%, #5a2c0a 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}