.footer {
background: #010f00;
}
.footer-container{
  padding-top: 48px;
  padding-bottom: 48px;
}
.footer-navigation{
  display: flex;
  justify-content: center;
  gap: 16px;
  font-family: "Hanken Grotesk", sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #f2f1f2;
    margin-bottom: 32px;
}
.footer-button{
  margin-left: auto;
  margin-right: auto;
}
.footer-text{
  margin-top: 32px;
  font-family: "Hanken Grotesk", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #f2f1f2;
}
@media only screen and (min-width: 1440px) {
.footer-container {
padding: 56px 80px;
display: flex;
flex-direction: row-reverse;
justify-content: space-between;
align-items: center;
  }
  .footer-navigation{
    margin-bottom: 0;
    font-size: 16px;
  }
  .footer-text{
    margin-top: 0;
    font-size: 16px;
  }
}

