.header {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  backdrop-filter: blur(22px);
background: #010f00;
height: 48px;
  width: 100%;

}

.header-container {
  padding: 12px;
  display: flex;
  justify-content: space-between;
}


.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: inherit;
  margin-right: 10px;
  margin-left: auto;
  border-radius: 4px;
    border: 1px solid #edc903;
    width: 24px;
    height: 24px;
}

.navigation-list {
  display: none;
}

/* Modal */
.modal {
  display: none;
background: #010f00;
border-radius: 0 0 40px 40px;
  padding: 60px 44px;
  width: 374px;
  height: auto;
  z-index: 1000;
  position: fixed;
  top: 48px;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0.3s ease;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}


.menu-item {
  padding: 8px 0px;
    width: 170px;
    height: 37px;
font-family: "Hanken Grotesk", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #f2f1f2;
  transition: all 0.3s ease;
}
.menu-item:hover,
.menu-item:active,
.menu-item:focus{
border-bottom: 1px solid #edc903;
}
.header-menu-policy{
  margin-top: 44px;
  display: flex;
  gap: 16px;
}
.menu-policy-item{
  font-family: "Hanken Grotesk", sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #f2f1f2;
}

@media screen and (min-width: 1440px) {
  .header {
    width: 100%;
    height: 53px;
  }

  .header-container {
    padding: 8px 100px;
    justify-content: center;
    align-items: center;
  }


  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    align-items: center;
    gap: 80px;
  }
  .navigation-item {
    padding: 8px;
      height: 37px;
font-family: "Hanken Grotesk", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #f2f1f2;
    transition: all 0.2s ease;
  }

.navigation-item:hover{
  font-weight: 500;
}

  .navigation-item:focus{
border-bottom: 1px solid #edc903;
  }
.navigation-item.is-active {
  border-bottom: 1px solid #edc903;
}
}