.hero-section{
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 812px;
    border-bottom: 1px solid #edc903;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
.hero-img{
    margin: 28px auto 32px;
}
.hero-wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}
.hero-text{
    font-family: "Hanken Grotesk", sans-serif;
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 0.04em;
        text-align: center;
        color: #f2f1f2;
        width: 303px;
}
.hero-button{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(95, 18, 126, 0.5);
        background: linear-gradient(180deg, #ba2ff1 0%, #6c1b8b 100%);
        border: 1px solid #7712a1;
            border-radius: 16px;
            width: 240px;
            height: 56px;
    font-family: "Darker Grotesque", sans-serif;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #f2f1f2;
}
@media only screen and (min-width: 1440px) {
    .hero-section{
        height: 823px;
        background-image: linear-gradient(180deg, #0b3e01 0%, #010f00 100%);
    }
    .hero-img{
        width: 1062px;
            height: 522px;
    }
    .hero-wrapper{
        flex-direction: row;
    }
    .hero-text{
        width: 798px;
        text-align: left;
    }
}